@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
*,
*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

h2{
    margin-block-end:0.8rem;
} 
img{
    width: 600px;
    max-width: 100%;
}
a{
    text-decoration: none;
    color:#fff;
  font-size: 2.5rem;
  font-weight: 1000;
    font-family: 'Antic Slab', serif;
}
.container{
    width: 100%;
    max-width: 122rem;
    margin:0 auto;
    text-align: center;
    padding: 0 2.4rem;
}
/* header */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;}

/* .menu-toggle{
    color: white;
     font-size: 1.6rem;
     position: absolute;
     top: 47%;
     transform: translateY(-50%);
     right: 2.5rem;
     z-index: 1500;
     cursor: pointer;
    } */
/* .fa-times {
    position: absolute;
    visibility: hidden; 
 display: none;
} */
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 100%;
    height: 40px;
   left: 0;
   position: absolute;
   font-size: 70px;
   margin-top: 30px;
   
}
.logo{
    margin-left: 30px;
    margin-top: 13px;
}
ul{
 padding-inline-end: 40px;
}
.nav-list{
list-style: none;
top: 0;
left: 0;
width: 100%;
height: 30px;
padding-bottom: 4rem;
padding-top: 20px;
display: flex;
justify-content: space-around;
/* transform: translateX(-100%); 
transition: transform 0.5s; */
}
.nav-item:hover{
    font-size: 2rem;
    color: #3a5a40;
}
/* .navbar::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 100vh;
    background-color: #3a5a408c;
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
} */
/* .open .fa-times {
display: block;
visibility: visible;
} */
/* .open  .fa-bars{
display: none;}
.open .nav-list{
    transform:translateX(0);
}
.open .navbar::before{
    opacity: 1;
    transform: scale(1);

} */

.nav-item{
    display: block;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    text-transform: uppercase;
    font-weight: 500;
    
}
.scroll{
   height: 100vh;
    width: 100%;
     display: flex;
     align-items:center;
  justify-content: center;
  background: url("images/brooke-lark-wMzx2nBdeng-unsplash.jpg");
    background-size:cover;
    background-attachment:scroll;
}
.headline1{
    font-size: 9.5rem;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: 100;
    color: #3a5a40;
    line-height: 0.4;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 140px;
    opacity: 0;
    animation: fadeUp 1s forwards;
    animation-delay: 0.8s;

}
.fancy-letter{
    text-transform: uppercase;
    font-size: 10.3rem;
}
.headline2{
    display: block;
    text-align: center;
    text-transform:uppercase;
    color:black;
    letter-spacing: 0.5rem;
    margin-right: -0.5rem;
    font-size: 30px;
    margin-block-end: 0em;
    animation: scale 1s forwards;
}
.separator{
    display: flex;
align-items: center;
justify-content: center;


}
.line{
    width: 100%;
    max-width: 8.4rem;
    height: 0.25rem;
    background-color: #000000;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: 0.9s;
}
.single-animation{
     opacity: 0;
     animation: fadeDown 1s forwards;
    animation-delay: 1.5s;
    padding: 10px;
    margin: 10px;
}
.line-right::before,
.line-left::before{
   content: "";
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border: 0.6rem solid transparent;
   opacity: 0;
   animation: grow 0.5s forwards;
   animation-delay: 1.2s;
}
.line-right::before{
    border-right-color: black;
    right: 0;
}
.line-left::before{
    border-left-color: black;
    left: 0;
}
.asterisk{
    font-size: 1.2rem;
    color: #3a5a40;
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin 0.5s forwards;
   animation-delay: 0.7s;

}
.headline-description{
    color: black;
    text-align: center;
    margin-block-start: 0em;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    color: black;
    margin-top: 10px;

}
.cta-btn{
    font-size: 1.1rem;
    background-color: white;
    color: black;
    padding: 0.9rem 1.8rem;
    border-radius: 0.4rem;
    font-family: 'Antic Slab', serif;
    cursor: pointer;
}
.aboutUs{
    background-attachment:scroll;

}
.global-headline{
    text-align: center;
    margin-top: 3.9rem;
}
.aboutUs .global-headline{
    margin-top: 4.9rem;
    
}
.global-headline .asterisk{
    color: #3a5a40;
    margin: 2.4rem;
}
.webInfo{
    text-align: center;
}
.web-description{
    margin-bottom: 3rem;
}
.web-description  p{
line-height: 1.6;
margin-bottom: 2.4rem;
font-size: 2rem;
}
.body-btn{
    font-size: 1.5rem;
    color: #3a5a40;
    position: relative;
    transition: color 0.5s;
}
.resturant-info-img{
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6.9rem;
}

.tastefull-recipies {
    /* margin-top: 11.9rem; */
    background:url("images/brooke-lark-wMzx2nBdeng-unsplash.jpg") ;
   background-size:cover;
   background-attachment:scroll;
   display: flex;
   justify-content:center;
   align-items: center;
   height:100vh;
  margin-bottom: 9rem;
}

.recipes-images{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    grid-template-columns: repeat(2,1fr);
    grid-gap:1rem;
    
}
.global-headline{
    margin-top: 9rem;

}

.social-icons{
    list-style: none;
}
/* footer */
footer{
    padding-top:3rem ;
    padding-bottom: 3rem;
    background-color: #3a5a40;
    color: white;
    text-align: center;
    position: relative;
    height: 500px;
}
.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: #3a5a40;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-60%);
    border-radius: 50%;

}
.back-to-top i{
    display: block;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    animation : up 2s infinite;
}
.footer-content{
    overflow: hidden;

}
.footer-content h4{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-top: 30px;


}
.footer-content .asterisk{
    margin: 2.4rem 0;
    color: black;
}
.social-icons{
margin-bottom: 5rem;
display: flex;
justify-content: space-around;
align-items: center;
}
.social-icons i{
    font-size: 2rem;
    color: #fff;
    padding: 0.8rem 2rem;
    opacity: 0.5;
 transition:all 0.5s ease-in-out;
}
.social-icons li :hover{
    color: black;
    font-size: 3rem;
}
.newsletter-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.newsletter-input{
    width: 100%;
    max-width:25rem; 
    padding: 1rem;
    border-radius: 0.4rem;

}
.newsletter-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 0.5rem;
    position: absolute;

}
.form-control{
    font-size: 15px;
    background-color: white;
    color: black;
    padding: 0.9rem 1.8rem;
    border-radius: 0.4rem;
    font-family: 'Antic Slab', serif;

}
@media screen and (min-width:900px){
.fancy-letter{
    font-size: 12.2rem;
}
.headline1{
    font-size: 10rem;
    
}
.headline2{
    font-size: 3.5rem;letter-spacing: 0.5rem;
}
.line{
    max-width: 11.4rem;
}
.webInfo{
    display: flex;
    align-items: center;
}
.webInfo > div{
flex: 1;
}
.padding-right{
padding-right: 7rem;
}
.footer-content{
    max-width: 77.5rem;
    margin: auto;}
.social-icons i {
    opacity: 1;
}
}
/* ANIMATIONS */

@keyframes fadeUp{
0%{
    transform: translateY(4rem);
}
100%{
    opacity: 1;
    transform: translateY(0);
}
}
@keyframes scale{
    0%{
        transform: scale(2)
    }
    100%{
        opacity: 1;
        transform: scale(1)
    }
    }
@keyframes grow{
    0%{
     width:0}
    100%{
        opacity: 1;
       width: 100%;}}
       
@keyframes fadeDown{
 0%{transform: translateY(-1rem);}

100%{
    opacity: 1;
    transform: translateY(0);}
        }
@keyframes spin{
 0%{transform: rotate(0)}
        
 100%{
 opacity: 1;
transform: rotate(-360deg)}
                   }

@keyframes up{
0%{opacity: 0;}
50%{opacity: 1;}                    
100%{
 opacity: 0;
transform: translateY(-1rem)}}
                   
                   

